<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery.fileDownload.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Support/shCore.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Support/shBrushJScript.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Support/shBrushXml.js")"></script>
	    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/shCoreDefault.css")" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/Support/jquery.gritter.min.js")"></script>
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/jquery.gritter.css")" />
        <script type="text/javascript">
            $(function () {

                //setup syntax highlighter on all pages
                SyntaxHighlighter.all();

                $('a.toggle-source').click(function () {
                    $(this).next().toggle('slow');
                });
            });        
        </script>
    </head>
    
    <body>
        @RenderBody()
    </body>
</html>